*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'PT Sans' , sans-serif;
}

nav{
  height: 115px;
  background-color: #75DFE6;
  display: flex;
  box-shadow: 0px 1px 1px #939291;
}

.logo{
  width: 100px;
  background-color: #EE0056;
  padding: 5px 10px;
}

.logo img{
  height: 6em;
  width: 80px;
}

nav ul{
  display: flex;
  height: 100%;
  align-items: center;
  text-align: center;
  list-style:none;
  color:#FFFFFF;
  text-shadow: 1px 1px #939291;
}

nav li{
  width: 100px;
  height: 100%;
  padding-top: 50px;
}

nav a{
  text-decoration: none;
  color: #FFFFFF;
}

#home{
  background-color: #00A6BC;
}

#cal{
  background-color: #00B8D0;
}

#join{
  background-color: #00D6E5;
}

header{
  height: 7em;
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(to right, ##F8F8F8, #FFFFFF);
}

h1{
  height: 50%;
  padding-left: 18px;
  font-size: 2.5em;
  line-height:  1.5em;
  text-shadow: 0.4px 0.4px #939291;
  font-weight: lighter;
}

.form_container{
  height: 52em;
  padding: 1em;

}

form{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  max-width: 1025px;
}

.picture{
  width: 33%;
  height: 50%;
}

.picture img{
  height: 300px;
  width: 300px;
  border-radius: 50%;
  margin: 2em auto;
}

.picture button{
  padding: 2px 8px;
}

.login{
  width: 66%;
  display: flex;
}

.login span{
  width: 50%;
}

.login input{
  width: 96%;
  height: 30px;
  margin-bottom: 1em;
}

.genres{
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  margin-bottom: 1em;
}

.genres p{
  width: 100%;
}

.genres div{
  width: 33%;
  margin: 10px 0;
}

.genres input{
  margin: 0 4px;
}

.join button{
  width: 150px;
  height: 55px;
  color: #FFFFFF;
  border-style: none;
  background-color: #FA005A;
  font-size: 1em;
  display: block;
  margin-top: 2em;
  margin-bottom: 3em;
}


footer{
  height: 115px;
  background-color: #75DFE6;
  display: flex;
  justify-content: space-between;
}

footer ul{
  display: flex;
  height: 100%;
  align-items: center;
  text-align: center;
  list-style:none;
  color:#FFFFFF;
  text-shadow: 1px 1px #939291;
}

footer li{
  width: 100px;
  height: 100%;
  padding-top: 50px;
}

footer p{
  align-items: center;
  text-align: center;
  color:#FFFFFF;
  text-shadow: 1px 1px #939291;
  padding: 50px 16px;
}

footer a{
  text-decoration: none;
  color: #FFFFFF;
}
